{% extends 'control/base.html' %}
{% load static %}


    {% block page_title %}Shaharni O'zgartirish{% endblock page_title %}

    {% block add %}
    <div class="ms-auto d-block">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleDangerModal">O'chirish</button>
      </div>
    </div>
    {% endblock add %}

    {% block content %}
    <div class="card">
        <div class="card-body">
          <div class="p-4 border rounded">
            <form class="row g-3 needs-validation" action="{% url 'control_district_edit' %}" enctype="multipart/form-data" method="POST" novalidate>
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ district.id }}">
                <div class="col-md-12">
                  <label for="validationCustomUsername" class="form-label">Viloyat</label>
                  <div class="input-group has-validation"> 
                  <select id="region_change" class="form-select" name="region_id" required aria-label="Default select example" id="validationCustom00">
                    {% for r in regions %}  
                      {% if r.id == district.region.id %}
                        <option value="{{r.id}}" data-title="{{ r.title }}" selected>{{ r.title }}</option>
                      {% else %}
                        <option value="{{r.id}}" data-title="{{ r.title }}">{{ r.title }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                    <div class="invalid-feedback">Iltimos, Viloyat tanlang</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="validationCustomUsername" class="form-label">Shahar Tanlang</label>
                  <div class="input-group has-validation">
                  <select class="form-select" name="title" required aria-label="Default select example" id="validationCustom00">
                    <option class="require_choose" value="">Shahar tanlang</option>
                    {% for d in districts %}
                      {% if d.title == district.title %}
                        <option class="city-select" value="{{ d.title }}" data-title="{{ d.region }}" selected>{{ d.title }}</option>
                      {% else %}
                        <option class="city-select" value="{{ d.title }}" data-title="{{ d.region }}">{{ d.title }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                    <div class="invalid-feedback">Iltimos, Shahar tanlang</div>
                  </div>
                </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">O'zgartirish</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endblock content %}



{% block js_content %}
<div class="col">
  <!-- Modal -->
  <div class="modal fade" id="exampleDangerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger"><b>Diqqat</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
          <p>Shaharni O'chirmoqchisz ishonchingz komilmi !!!</p>
          <input type="checkbox" id="checker1"> <label for="checker1">OK</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Yopish</button>
          <form action="{% url 'control_district_delete' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{district.id}}">
              <button type="submit" class="btn btn-outline-danger delete" disabled>O'chirish</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let region = document.querySelector("#region_change")
  let districts = document.querySelectorAll('.city-select')
  let require_choose = document.querySelector('.require_choose')
  let reg_set = region.options[region.selectedIndex];
  let reg_title = reg_set.dataset.title;
  districts.forEach(item => {
      if (reg_title == item.dataset.title) {
          item.classList.remove('d-none')
      } else {
          item.classList.add('d-none')
      }
  });
  region.addEventListener("change", ()=> {
    let d_reg_set = region.options[region.selectedIndex];
    let d_reg_title = d_reg_set.dataset.title;
      districts.forEach(item => {
          if (d_reg_title == item.dataset.title) {
              item.classList.remove('d-none')
          } else {
              item.classList.add('d-none')
          }
      })
  });
</script>

<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script>
    (function () {
      'use strict'

      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<script>
    let check = document.querySelector('#checker1')
    check.addEventListener('change' ,  ()=> {
    let remove = document.querySelector('.modal-footer .delete')
    
    if (check.checked) {
    remove.removeAttribute('disabled')
    } else {
    remove.setAttribute('disabled', 'true')
    }
    })
</script>

<script>
    setInterval(myTimer, 1000);
    function myTimer() {
        const d = new Date();
        let cc = document.querySelectorAll('.alert_nums');
        cc.forEach(element => {
            element.innerHTML -= 1
        })
    }
    setInterval(()=> $(".alert").alert('close'), 6000)
  </script>
{% endblock js_content %}