{% extends 'control/base.html' %}
{% load static %}

    {% block page_title %} Sliderni Qo'shish {% endblock page_title %}

    {% block content %}
    <div class="card">
        <div class="card-body">
          <div class="p-4 border rounded">
            <form class="row g-3 needs-validation" action="{% url 'control_slider_create' %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="col-md-12">
                    <div class="mb-4 d-flex flex-column gap-3 align-items-center justify-content-between">
                      <div class=" shadow text-center">
                        <img src="{% static 'control/assets/images/404-error.png' %}" alt="..." style="object-fit: cover;" class="rounded"  width="300">
                      </div>
                      </div>
                            
                      <label for="validationCustom01" class="form-label">Rasm PNG Formatda </label>
                      <div class="input-group has-validation mb-3">
                        <input type="file" name="file" class="form-control has-validation" accept="image/png" required id="inputGroupFile02">
                      </div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">Sarlavhasi</label>
                    <input type="text" name="title" class="form-control" id="validationCustom01" required>
                    <div class="invalid-feedback">Iltimos, slider sarlavhasini kiriting.</div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">Slider Qo'shimcha Sarlavhasi</label>
                    <input type="text" name="subtitle" class="form-control" id="validationCustom01" required>
                    <div class="invalid-feedback">Iltimos, slider qo'shimcha sarlavhasini kiriting.</div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustomUsername" class="form-label">Prioritet</label>
                    <div class="input-group has-validation"> <span class="input-group-text" id="inputGroupPrepend">№</span>
                      <input type="number" name="priority" value="1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); if (this.value.length > 12) {this.value = 0}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                      <div class="invalid-feedback">Iltimos, Prioritet kiriting</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustomUsername" class="form-label">Tavsif</label>
                      <textarea class="form-control" name="content"></textarea>
                  </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Yaratish</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    {% endblock content %}





{% block js_content %}
<script src="{% static 'control/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script>
    (function () {
      'use strict'

      var forms = document.querySelectorAll('.needs-validation')

      Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

<script>
  ClassicEditor.defaultConfig = { 
    toolbar: { 
      items: [ 
        'heading', 
        '|', 
        'bold', 
        'italic', 
        '|', 
        'bulletedList', 
        'numberedList', 
        '|', 
        'insertTable', 
        '|', 
 
        'undo', 
        'redo' 
      ] 
    }, 
 
    table: { 
      contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells'] 
    }, 
    language: 'en' 
  }; 
  ClassicEditor.create(document.querySelector("#editor")).catch((error) => { 
    console.error(error); 
  });
  ClassicEditor.create(document.querySelector("#editor1")).catch((error) => { 
    console.error(error); 
  });
  ClassicEditor.create(document.querySelector("#editor2")).catch((error) => { 
    console.error(error); 
  });
</script>
<script>
    setInterval(myTimer, 1000);
    function myTimer() {
        const d = new Date();
        let cc = document.querySelectorAll('.alert_nums');
        cc.forEach(element => {
            element.innerHTML -= 1
        })
    }
    setInterval(()=> $(".alert").alert('close'), 6000)
  </script>
{% endblock js_content %}